In [2]:
#Logistic Regression 
#y=mX+C
#h=θX  
#h=hypothesis
#z= θX=θ1X1    +  θ2X2+     θ3X3     +  ………………………+θn Xn      
#h= 1/(1+e^(-z) )
import pandas as pd

In [10]:
df=pd.read_csv("heart.csv")
df

,Unnamed: 0,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,1,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,2,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,3,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,4,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,5,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,299,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,300,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,301,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,302,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,303,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [11]:
df=df.drop(columns='Unnamed: 0')
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,typical,145,233,1,2,150,0,2.3,3,0.0,fixed,No
1,67,1,asymptomatic,160,286,0,2,108,1,1.5,2,3.0,normal,Yes
2,67,1,asymptomatic,120,229,0,2,129,1,2.6,2,2.0,reversable,Yes
3,37,1,nonanginal,130,250,0,0,187,0,3.5,3,0.0,normal,No
4,41,0,nontypical,130,204,0,2,172,0,1.4,1,0.0,normal,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,typical,110,264,0,0,132,0,1.2,2,0.0,reversable,Yes
299,68,1,asymptomatic,144,193,1,0,141,0,3.4,2,2.0,reversable,Yes
300,57,1,asymptomatic,130,131,0,0,115,1,1.2,2,1.0,reversable,Yes
301,57,0,nontypical,130,236,0,2,174,0,0.0,2,1.0,normal,Yes
302,38,1,nonanginal,138,175,0,0,173,0,0.0,1,NaN,normal,No

In [13]:
df['ChestPain']=df['ChestPain'].astype('category')
df['ChestPain']=df['ChestPain'].cat.codes
df

df['Thal']=df['Thal'].astype('category')
df['Thal']=df['Thal'].cat.codes


df['AHD']=df['AHD'].astype('category')
df['AHD']=df['AHD'].cat.codes
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,0,0
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,1,1
2,67,1,0,120,229,0,2,129,1,2.6,2,2.0,2,1
3,37,1,1,130,250,0,0,187,0,3.5,3,0.0,1,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,45,1,3,110,264,0,0,132,0,1.2,2,0.0,2,1
299,68,1,0,144,193,1,0,141,0,3.4,2,2.0,2,1
300,57,1,0,130,131,0,0,115,1,1.2,2,1.0,2,1
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,1,1
302,38,1,1,138,175,0,0,173,0,0.0,1,NaN,1,0

In [14]:
df.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           4
Thal         0
AHD          0
dtype: int64

In [15]:
df=df.dropna()
df

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal,AHD
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,0,0
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,1,1
2,67,1,0,120,229,0,2,129,1,2.6,2,2.0,2,1
3,37,1,1,130,250,0,0,187,0,3.5,3,0.0,1,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57,0,0,140,241,0,0,123,1,0.2,2,0.0,2,1
298,45,1,3,110,264,0,0,132,0,1.2,2,0.0,2,1
299,68,1,0,144,193,1,0,141,0,3.4,2,2.0,2,1
300,57,1,0,130,131,0,0,115,1,1.2,2,1.0,2,1
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,1,1

In [14]:
df.isnull().sum()

Age          0
Sex          0
ChestPain    0
RestBP       0
Chol         0
Fbs          0
RestECG      0
MaxHR        0
ExAng        0
Oldpeak      0
Slope        0
Ca           0
Thal         0
AHD          0
dtype: int64

In [28]:
X=df.drop(columns='AHD')
X

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
0,63,1,3,145,233,1,2,150,0,2.3,3,0.0,0
1,67,1,0,160,286,0,2,108,1,1.5,2,3.0,1
2,67,1,0,120,229,0,2,129,1,2.6,2,2.0,2
3,37,1,1,130,250,0,0,187,0,3.5,3,0.0,1
4,41,0,2,130,204,0,2,172,0,1.4,1,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
297,57,0,0,140,241,0,0,123,1,0.2,2,0.0,2
298,45,1,3,110,264,0,0,132,0,1.2,2,0.0,2
299,68,1,0,144,193,1,0,141,0,3.4,2,2.0,2
300,57,1,0,130,131,0,0,115,1,1.2,2,1.0,2
301,57,0,2,130,236,0,2,174,0,0.0,2,1.0,1

In [29]:
y=df['AHD']

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=23)

In [33]:
X_train

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
92,62,1,1,130,231,0,0,146,0,1.8,2,3.0,2
67,54,1,1,150,232,0,2,165,0,1.6,1,0.0,2
230,52,0,1,136,196,0,2,169,0,0.1,2,0.0,1
97,60,0,0,150,258,0,2,157,0,2.6,2,2.0,2
210,37,0,1,120,215,0,0,170,0,0.0,1,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,42,1,2,120,295,0,0,162,0,0.0,1,0.0,1
31,60,1,0,117,230,1,0,160,1,1.4,1,2.0,2
40,65,0,0,150,225,0,2,114,0,1.0,2,3.0,2
232,49,1,1,118,149,0,2,126,0,0.8,1,3.0,1
83,68,1,1,180,274,1,2,150,1,1.6,2,0.0,2

In [34]:
X_test

,Age,Sex,ChestPain,RestBP,Chol,Fbs,RestECG,MaxHR,ExAng,Oldpeak,Slope,Ca,Thal
185,63,0,2,140,195,0,0,179,0,0.0,1,2.0,1
110,61,0,0,145,307,0,2,146,1,1.0,2,0.0,2
159,68,1,1,118,277,0,0,151,0,1.0,1,1.0,2
223,53,1,0,123,282,0,0,95,1,2.0,2,2.0,2
14,52,1,1,172,199,1,0,162,0,0.5,1,0.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,55,0,2,135,250,0,2,161,0,1.4,2,0.0,1
107,57,1,1,128,229,0,2,150,0,0.4,2,1.0,2
274,59,1,3,134,204,0,0,162,0,0.8,1,2.0,1
13,44,1,2,120,263,0,0,173,0,0.0,1,0.0,2
251,58,1,0,146,218,0,0,105,0,2.0,2,1.0,2

In [35]:
from sklearn.preprocessing import StandardScaler

In [36]:
scaler=StandardScaler()

In [37]:
X_train_scaled=scaler.fit_transform(X_train)

In [38]:
X_test_scaled=scaler.transform(X_test)

In [39]:
X_train_scaled

array([[ 0.77904095,  0.73264228,  0.17796069, ...,  0.57260251,
         2.42972109,  1.13611108],
       [-0.08933003,  0.73264228,  0.17796069, ..., -1.02304981,
        -0.69848245,  1.13611108],
       [-0.30642277, -1.3649226 ,  0.17796069, ...,  0.57260251,
        -0.69848245, -0.468262  ],
       ...,
       [ 1.10468006, -1.3649226 , -0.85519997, ...,  0.57260251,
         2.42972109,  1.13611108],
       [-0.63206189,  0.73264228,  0.17796069, ..., -1.02304981,
         2.42972109, -0.468262  ],
       [ 1.43031918,  0.73264228,  0.17796069, ...,  0.57260251,
        -0.69848245,  1.13611108]])

In [40]:
X_test_scaled

array([[ 0.88758732, -1.3649226 ,  1.21112135, ..., -1.02304981,
         1.38698658, -0.468262  ],
       [ 0.67049457, -1.3649226 , -0.85519997, ...,  0.57260251,
        -0.69848245,  1.13611108],
       [ 1.43031918,  0.73264228,  0.17796069, ..., -1.02304981,
         0.34425206,  1.13611108],
       ...,
       [ 0.45340183,  0.73264228,  2.24428201, ..., -1.02304981,
         1.38698658, -0.468262  ],
       [-1.17479375,  0.73264228,  1.21112135, ..., -1.02304981,
        -0.69848245,  1.13611108],
       [ 0.34485546,  0.73264228, -0.85519997, ...,  0.57260251,
         0.34425206,  1.13611108]])

In [41]:
from sklearn.linear_model import LogisticRegression

In [42]:
log_reg=LogisticRegression(random_state=0).fit(X_train_scaled,y_train)

In [52]:
log_reg.predict(X_train_scaled)

array([0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1], dtype=int8)

In [43]:
log_reg.score(X_train_scaled,y_train)

0.8755980861244019

In [44]:
log_reg.score(X_test_scaled,y_test)

0.8111111111111111

In [46]:
log_reg1=LogisticRegression(random_state=0,
                          C=1,
                          fit_intercept=True,
                          ).fit(X_train_scaled,y_train)

In [47]:
log_reg1.score(X_train_scaled,y_train)

0.8755980861244019

In [48]:
log_reg1.score(X_test_scaled,y_test)

0.8111111111111111